<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>To-Do Tracker</title>
</head>
<body>

    <h1>My To-Do Tracker</h1>
    <h3>Add a New Task</h3>
    <input type="text" placeholder="Enter new workout here">
    <ul>
        <li>Workout</li>
        <li>Shopping</li>
        <li>Taxes</li>
    </ul>
    <button type="submit">Submit</button>

</body>
</html>